html {
  height: 100%;
  background-color: #031019;
  
}


body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/*top*/

.top-section {
  background: url(images/space.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.profile-container {
  display:flex;
  flex-direction: row;
  flex-grow: 2;
  margin:4em;
}

.profile-photo {
  margin: 2em;
  max-width: 90%;
  border-radius: 8px;
}

.me-text {
  background: #D0D4D5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.me-text > h1 {
  font-weight: bold;
  font-size: 110%;
  margin: .5em 1em 0em .5em;
}

.me-text > p {
  margin: .5em 1em 1em 1em;

}

.triangle {
	width: 0;
	height: 0;
	border-top: 20px solid #c0c0c0;
  border-right: 20px solid transparent;
  margin-left: 10%;
}

/* topb */

.top-part-b {
  background-color: rgba(0, 0, 0, 0.5);
}

.app-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding: .5em;
}

.app-img-container{
  display: flex;
  flex-grow: 1;
  padding: .5em;
}

.app-image {
  max-width: 100%;
  max-height: 100%
}


/* mid */

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog {
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  margin: 1em 1em 4em 1em;
  background-color: white;
}

.blog-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
  object-fit: cover;}

.blog-post {
  padding:1.5em;
  max-width: 95%;
}

.blog-title {
 font-weight:bold;
}

.blog-date {
  font-size: 60%;
}

.button-position {
 display:flex;
 justify-content: flex-end;
 margin: -5em 3em 1em 0em;
}

.reading-button {
  border-radius: 5px;
  background-color: #1389D7;
  color:white;
  padding: .75em;
  display: flex;
  justify-content:center;
}

/*footer*/

.footer > h2 {
  color: white;
  font-size: 150%;
}

.footer > p {
  color: white;
  font-size: 75%;
  font-weight: lighter;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em 1.5em;
}

.footer-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:50px;
}

.twit-icon {
  margin: .5em;
  width: 100%;
  height: 100%;
}